header
	background-color: $bg-color1

	.logo
		text-align: center
		padding-top: 20px

	img
		+size(80px)
	h1
		color: white
		text-align: center
		font-size: 100px
		margin: 0px
		padding-top: 10px
		padding-bottom: 10px
		span
			padding: 10px
			border: white solid 7px

	p
		font-size: 25px
		color: white
		text-align: center

	nav
		text-align: center
		background-color: $bg-color2
		ul
			li
				font-size: 20px
				padding-right: 50px
				color: white
				display: inline
				text-transform: strong