<div class="avatars-arouca">
	<h3>Our Pastors</h3>
	<div class="face-wrap">
		<span>
			<img src="/img/headshots/hs5.jpg" alt="victormaharaj">
			<p>Bishop Rev. Victor Maharaj</p>
		</span>
		<span>
			<img src="/img/headshots/hs2.jpg" alt="ritamaharaj">
			<p>Rev. Rita Maharaj</p>
		</span>
		<span>
			<img src="/img/headshots/hs5.jpg" alt="lincolnmaharaj">
			<p>Rev. Lincoln Maharaj</p>
		</span>
		<span>
			<img src="/img/headshots/hs5.jpg" alt="josephlara">
			<p>Pas. Joseph Lara</p>
		</span>
	</div>
</div>