<section class="servicehours-arouca">
	<h3>Service Hours</h3>

	<div class="service-wrap-arouca">
		<div >
			<h4>Sundays</h4>

			<div class="spacer">
				<div class="mask"></div>
			</div>

			<span >
				<p>Worship & Word Service</p>
				<p>7:30 AM</p>
			</span>

			<div class="spacer">
				<div class="mask"></div>
			</div>

			<span>
				<p>Childrens Church</p>
				<p>8:45 AM</p>
			</span>
			
			<div class="spacer">
				<div class="mask"></div>
			</div>

			<span>
				<p>Youth Meeting</p>
				<p>4:30 PM</p>
			</span>

			<div class="spacer">
				<div class="mask"></div>
			</div>

		</div>

		<div>
			<h4>Thursdays</h4>

			<div class="spacer">
				<div class="mask"></div>
			</div>

			<span>
				<p>Prayer Deliverance & Bible Study</p>
				<p>6:30 PM</p>
			</span>

			<div class="spacer">
				<div class="mask"></div>
			</div>

		</div>

		<div>
			<h4>Saturdays</h4>

			<div class="spacer">
				<div class="mask"></div>
			</div>

			<span>
				<p>Men's Hour of Prayer</p>
				<p>6:00 AM</p>
			</span>

			<div class="spacer">
				<div class="mask"></div>
			</div>
			
		</div>
	</div>

</section>