<div class="contact">
	<h3> <em>contact us</em> </h3>

	<form method="POST" action="//formspree.io/{{ site.email }}">

		<div class="contact_group">
			<label>
		    	<input type="text" name="name" placeholder="Enter Your Name">
			</label>

		    <label>
		    	<input type="email" name="_replyto" placeholder="Enter Your Email">
			</label>
	    </div>
	    
	    <label>
	    	<textarea name="message" placeholder="Enter Your Message"></textarea>
		</label>

	    <label>
	    	<input type="submit" value="Send">
	    </label>
	</form>
</div>