<div class="avatars-valencia">
	<h3>Our Pastors</h3>
	<div class="face-wrap">
		<span>
			<img src="/img/headshots/hs5.jpg" alt="kerrymaharaj">
			<p>Rev. Lincoln Maharaj</p>
		</span>

		<span>
			<img src="/img/headshots/hs2.jpg" alt="omamaharaj">
			<p>Oma Maharaj</p>
		</span>

		<span>
			<img src="/img/headshots/hs3.jpg" alt="sharondesouza">
			<p>Sharon DeSouza</p>
		</span>

		<span>
			<img src="/img/headshots/hs4.jpg" alt="chandraramsohan">
			<p>Chandra Ramsohan</p>
		</span>

		<span>
			<img src="/img/headshots/hs5.jpg" alt="ananramsohan">
			<p>Anan Ramsohan</p>
		</span>

	</div>
</div>