---
layout: default
title: T.W.E.C | Youths
---

<!-- BLOG -->
<!-- <div class="blogposts">

	<h1 class="page-heading">Posts</h1>

  	<ul class="post-list">
    	{% for post in site.posts %}
      	<li>
        	<span class="post-meta">{{ post.date | date: "%-d-%m-%Y" }}</span>

        	<h2>
          		<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        	</h2>
      	</li>
    	{% endfor %}
  	</ul>

</div>

 -->


<!-- BLOG -->

<section class="blog-items">

	<h2>POSTS</h2>


	{% for post in site.posts %}

	<div class="thumb-container">

		<a href="{{ post.url | prepend: site.baseurl }}" class="thumb-unit" style="background-image: url(/img/blog_assets/{{ post.date | date: "%y-%m-%d"}}.jpg); background-size: cover">
			<div class="overlay">
				<strong>{{ post.title }}</strong>
				<p>{{ post.date | date: "%b %-d, %Y" }}</p>
			</div>
		</a>

		{% endfor %}


	</div>


</section>

		