---
layout: default
title: T.W.E.C | Youths
---


<div class="about_youth">
	<h3> <em>about the youth</em> </h3>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>


<!-- BLOG -->

<section class="blog-items">

	<h3><em>Posts</em></h3>


	{% for post in site.posts %}

	<div class="thumb-container">

		<a href="{{ post.url | prepend: site.baseurl }}" class="thumb-unit" style="background-image: url(/img/blog_assets/{{ post.date | date: "%y-%m-%d"}}.jpg); background-size: cover">
			<div class="overlay">
				<strong>{{ post.title }}</strong>
				<p>{{ post.date | date: "%b %-d, %Y" }}</p>
			</div>
		</a>

		{% endfor %}


	</div>


</section>

<!-- GALLERY -->

<section class="gallery-items">

	<h3> <em>Gallery</em> </h3>

	<div class="gallery-container">

		{% for image in site.data.youth.images %}
		<a href="" class="gallery-unit" style="background-image: url(/img/gallery_assets/{{image.file}});">

			<div class="gallery-overlay">
				<strong>{{ image.name }}</strong>
				<div class="icon"></div>
			</div>	
		</a>
		{% endfor %}

	</div>	

</section>




		